@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Roboto Mono', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Mono', monospace;
}

.container-md{
    @apply w-[65%] mx-auto
}
.alerta-error {
    @apply pl-[30px] pr-[15px] py-[15px] uppercase m-0 text-xs
    font-bold bg-red-200 border-l-8 border-red-800

  }

.shadow-black {
    box-shadow: rgba(0, 0, 0) 0px 0px 0px 2px, rgb(0, 0, 0) 0px 4px 6px -1px, rgba(0, 0, 0) 0px 1px 0px inset;
}